#c{
    background-image:url(../images/background.jpg);
    background-repeat: no-repeat;
    background-size:500px ;
    padding-top: 300px;
    padding-bottom: 300px;
    padding-left: 220px;
}
